<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 任务管理平台</title>
    <!--[if lt IE 8]>
    <script>
        alert('站点 不支持IE6-8，请使用谷歌、火狐等浏览器\n或360、QQ等国产浏览器的极速模式浏览本页面！');
    </script>
    <![endif]-->
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Content/jquery/jquery-2.1.1.min.js"></script>
    <script src="~/Content/layui/layui.js"></script>
    <script type="text/javascript">
        //由于模块都一次性加载，因此不用执行 layui.use() 来加载对应模块，直接使用即可：
        //; !function () {
        //    var layer = layui.layer
        //    , form = layui.form
        //    , element = layui.element;

        //    //layer.msg('Hello World');
        //}();

        //JavaScript代码区域
        layui.use('element', function () {
            var element = layui.element;
        });
        layui.use('form', function () {
            var form = layui.form;

           
        });
    </script>
    @RenderSection("CSS", false)
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">AWen 任务管理平台</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="@Url.Action("Index","Home")">首页</a></li>
                @*<li class="layui-nav-item"><a href="">任务控制台</a></li>
                <li class="layui-nav-item"><a href="">用户管理</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">邮件管理</a></dd>
                        <dd><a href="">消息管理</a></dd>
                        <dd><a href="">授权管理</a></dd>
                    </dl>
                </li>*@
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        @*<img src="http://t.cn/RCzsdCq" class="layui-nav-img">*@
                        <i class="layui-icon" style="font-size: 20px;">&#xe612;</i>
                        AWen
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">退出</a></li>
            </ul>
        </div>
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:void(0);">后台任务</a>
                        <dl class="layui-nav-child">
                            <dd><a href="@Url.Action("Index","TaskInfo")">任务管理</a></dd>
                            <dd><a href="@Url.Action("Index","TaskLog")">运行日志</a></dd>
                            <dd><a href="http://cron.qqe2.com/">Cron生成器</a></dd>
                        </dl>
                    </li>
                    @*<li class="layui-nav-item">
                        <a href="javascript:;">解决方案</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">列表一</a></dd>
                            <dd><a href="javascript:;">列表二</a></dd>
                            <dd><a href="">超链接</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="">云市场</a></li>
                    <li class="layui-nav-item"><a href="">发布商品</a></li>*@
                </ul>
            </div>
        </div>
        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div class="layui-fluid" style="padding-top:10px">
                
                    @RenderBody()
             
            </div>
        </div>
        <div class="layui-footer">
            <!-- 底部固定区域 -->
            <div class="right">
                <p>&copy; @DateTime.Now.Year - 任务管理平台</p>
            </div>
        </div>
    </div>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("JS", required: false)
</body>
</html>